<footer> 
  <div class="footer-info">
    <div class="footer-socails">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div> &copy; WnaderLust private limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>