<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new</title>
</head>
<body>
  <h2>Create new listing</h2>
  <form method="post" action="/listings">
    <input  type="text" name="listing[title]" placeholder="title"> <br>
    <input  type="text" name="listing[description]" placeholder="description"> <br>
    <input  type="text" name="listing[price]" placeholder="price"> <br>
    <input  type="text" name="listing[location]" placeholder="location"> <br>
    <input  type="text" name="listing[country]" placeholder="country">
   <button>Create</button>
  </form>
</body>
</html>